* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  cursor: pointer;
}

main {
  flex-grow: 1;
  max-width: 1240px;
  padding: 0 20px;
}

footer {
  flex-shrink: 0;
}
